@model VillaVM

<div class="border-0 p-5 mt-4">
    <div class="m-lg-0 py-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">Update Villa</h2>
            </div>
        </div>
    </div>
    <div class="col-12 card-body rounded-3 border-0 shadow p-4" style="background-color: #fff;">
        <div class="row pt-3">
            <div class="col-md-10">
                <form method="post" class="row" enctype="multipart/form-data">
                    <input asp-for="Villa.Id" hidden />
                    @* <input asp-for="Amenity.Id" hidden />
                    <input asp-for="Amenity.VillaId" hidden /> *@
                    @*  <div asp-validation-summary="All"></div> *@ @* показываем кастомную валидацию *@
                    <div class="form-floating py-1 mb-1 col-12">
                        <input asp-for="Villa.Name" class="form-control border shadow-sm" />
                        <label asp-for="Villa.Name" class="ms-2"></label>
                        <span asp-validation-for="Villa.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 mb-1 col-12">
                        <input asp-for="Villa.Description" class="form-control border shadow-sm" />
                        <label asp-for="Villa.Description" class="ms-2"></label>
                        <span asp-validation-for="Villa.Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-md-3">
                        <input type="file" name="files" class="form-control border-1 shadow-sm" multiple />
                        <label asp-for="Villa.VillaImages" class="ms-2">Images</label>
                        <span asp-validation-for="Villa.VillaImages" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-md-3">
                        <input asp-for="Villa.Price" class="form-control border shadow-sm" />
                        <label asp-for="Villa.Price" class="ms-2"></label>
                        <span asp-validation-for="Villa.Price" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-md-3">
                        <input asp-for="Villa.Sqft" class="form-control border shadow-sm" />
                        <label asp-for="Villa.Sqft" class="ms-2"></label>
                        <span asp-validation-for="Villa.Sqft" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-md-3">
                        <input asp-for="Villa.Occupancy" class="form-control border shadow-sm" />
                        <label asp-for="Villa.Occupancy" class="ms-2"></label>
                        <span asp-validation-for="Villa.Occupancy" class="text-danger"></span>
                    </div>
                    <div class="container">
                        <div class="row col-md-12 mt-4 d-flex">
                            <div class="card ms-3 mx-3 col-md-3">
                                <div class="card-title mt-1 text-center fw-bold">
                                    <img width="25" height="25" src="https://img.icons8.com/windows/32/cooking.png" alt="cooking" /> Cooking
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.Facilities.Count; i++)
                                    {
                                        if (Model.Facilities[i].Category == "Cooking")
                                        {
                                            <li class="list-unstyled">
                                                @* @Html.HiddenFor(x => x.Villa.Facilities[i].Id) *@
                                                @Html.HiddenFor(x => x.Facilities[i].Id)
                                                @Html.CheckBoxFor(u => Model.Facilities[i].Selected)
                                                <label class="ms-2"><img width="20" height="20" src="@Model.Facilities[i].Logo" alt="microwave" /> @Model.Facilities[i].Name </label>
                                            </li>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="card col-md-3 mx-3">
                                <div class="card-title mt-1 text-center fw-bold">
                                    <img width="25" height="25" src="https://img.icons8.com/pastel-glyph/64/fast-food--v2.png" alt="fast-food--v2" /> Food & Eat
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.Facilities.Count; i++)
                                    {
                                        if (Model.Facilities[i].Category == "Food")
                                        {
                                            <li class="list-unstyled">
                                                @* @Html.HiddenFor(x => x.Villa.Facilities[i].Id) *@
                                                @Html.HiddenFor(x => x.Facilities[i].Id)
                                                @Html.CheckBoxFor(u => Model.Facilities[i].Selected)
                                                <label class="ms-2"><img width="20" height="20" src="@Model.Facilities[i].Logo" alt="microwave" /> @Model.Facilities[i].Name </label>

                                            </li>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="card col-md-3 mx-3">
                                <div class="card-title mt-1 text-center fw-bold">
                                    <img width="25" height="25" src="https://img.icons8.com/ios/50/internet--v1.png" alt="internet--v1" /> Internet
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.Facilities.Count; i++)
                                    {
                                        if (Model.Facilities[i].Category == "Internet")
                                        {
                                            <li class="list-unstyled">
                                                @* @Html.HiddenFor(x => x.Villa.Facilities[i].Id) *@
                                                @Html.HiddenFor(x => x.Facilities[i].Id)
                                                @Html.CheckBoxFor(u => Model.Facilities[i].Selected)
                                                <label class="ms-2"><img width="20" height="20" src="@Model.Facilities[i].Logo" alt="microwave" /> @Model.Facilities[i].Name </label>

                                            </li>
                                        }
                                    }
                                </div>
                            </div>
                            
                        </div>
                        <div class="row col-md-12 mt-4 d-flex">
                            <div class="card col-md-3 mx-3">
                                <div class="card-title mt-1 text-center fw-bold">
                                    <img width="25" height="25" src="https://img.icons8.com/ios/50/mountain-city.png" alt="mountain-city" /> View
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.Facilities.Count; i++)
                                    {
                                        if (Model.Facilities[i].Category == "View")
                                        {
                                            <li class="list-unstyled">
                                                @* @Html.HiddenFor(x => x.Villa.Facilities[i].Id) *@
                                                @Html.HiddenFor(x => x.Facilities[i].Id)
                                                @Html.CheckBoxFor(u => Model.Facilities[i].Selected)
                                                <label class="ms-2"><img width="20" height="20" src="@Model.Facilities[i].Logo" alt="microwave" /> @Model.Facilities[i].Name </label>
                                            </li>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="card col-md-3 mx-3">
                                <div class="card-title mt-1 text-center fw-bold">
                                    <img width="25" height="25" src="https://img.icons8.com/ios/50/place-marker--v1.png" alt="place-marker--v1" /> Territory
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.Facilities.Count; i++)
                                    {
                                        if (Model.Facilities[i].Category == "Territory")
                                        {
                                            <li class="list-unstyled">
                                                @* @Html.HiddenFor(x => x.Villa.Facilities[i].Id) *@
                                                @Html.HiddenFor(x => x.Facilities[i].Id)
                                                @Html.CheckBoxFor(u => Model.Facilities[i].Selected)
                                                <label class="ms-2"><img width="20" height="20" src="@Model.Facilities[i].Logo" alt="microwave" /> @Model.Facilities[i].Name </label>

                                            </li>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="card col-md-3 mx-3">
                                <div class="card-title mt-1 text-center fw-bold">
                                    <img width="25" height="25" src="https://img.icons8.com/ios/50/room.png" alt="room" /> Room
                                </div>
                                <div class="card-body">
                                    @for (int i = 0; i < Model.Facilities.Count; i++)
                                    {
                                        if (Model.Facilities[i].Category == "Room")
                                        {
                                            <li class="list-unstyled">
                                                @* @Html.HiddenFor(x => x.Villa.Facilities[i].Id) *@
                                                @Html.HiddenFor(x => x.Facilities[i].Id)
                                                @Html.CheckBoxFor(u => Model.Facilities[i].Selected)
                                                <label class="ms-2"><img width="20" height="20" src="@Model.Facilities[i].Logo" alt="microwave" /> @Model.Facilities[i].Name </label>

                                            </li>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row pt-2 mt-3 mb-5">
                        <div class="col-6 col-md-3">
                            <a asp-controller="Villa" asp-action="Index" class="btn btn-secondary w-100">
                                <i class="bi bi-x-circle"></i> Cancel
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="bi bi-check-circle"></i> Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2">
                @if (Model.Villa.VillaImages != null)
                {
                    foreach (var image in Model.Villa.VillaImages)
                    {
                        <div class="border p-1 m-2 text-center">
                            <img src="@image.ImageUrl" width="100%"
                                 style="border-radius:5px; border:0px solid #bbb9b9" />
                            <a asp-action="DeleteImage" class="btn btn-danger mt-1" asp-route-imageId="@image.Id" asp-route-villaId="@Model.Villa.Id">
                                <i class="bi bi-trash-fill"></i> Delete

                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        /* partial tag нужен для работы частичных представлений */
    }
}