@model AmenityVM
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 border-0 p-4 mt-5">
                <div class="bg-success bg-gradient m-lg-0 py-4">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Update Facility</h2>
                    </div>
                </div>
                <div class="border p-4 col-md-12">
                    <form method="post" class="row">
                        <input asp-for="@Model.Facility.Id" hidden /> 
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td class="text-center fw-bold">
                                        Logo img
                                    </td>
                                    <td class="fw-bold">
                                        Logo src
                                    </td>
                                    <td class ="fw-bold">
                                        Name
                                    </td>
                                    <td class="fw-bold">
                                        Category
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-center">
                                        <label class="p-1"><img width="30" height="30" src="@Model.Facility.Logo" alt="microwave" /></label>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Facility.Logo" class="form-control border shadow-sm" />
                                        <span asp-validation-for="@Model.Facility.Logo" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Facility.Name" class="form-control border shadow-sm" />
                                        <span asp-validation-for="@Model.Facility.Name" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <select asp-for="@Model.Facility.Category" asp-items="@Model.FacilityList"
                                                class="form-select border shadow-sm">
                                            <option disabled selected>--Select Category--</option>
                                        </select>
                                        @* <label asp-for="@Model.Facility.Id" class="ms-2">Category</label> *@
                                        <span asp-validation-for="@Model.Facility.Id" class="text-danger"></span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                           
                            <hr />

                            <div class="row d-flex justify-content-center">
                                <div class="row mt-3 pt-2 justify-content-center">
                                    <div class="col-6 col-md-3">
                                        <button type="submit" class="btn btn-success w-100">
                                            <i class="bi bi-check-circle"></i> Update
                                        </button>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <a asp-controller="Amenity" asp-action="Index" class="btn btn-secondary w-100">
                                            <i class="bi bi-x-circle"></i> Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        /* partial tag нужен для работы частичных представлений */
    }
}