@model HomeVM


<section id="projects" class="projects my-5">

    <div class="container" id="VillasList">
        <div class="row">

            @foreach (var villa in Model.VillaList)
            {
                string id = $"a{villa.Id}";

                <div class="p-3 col-md-3">
                    <div class="card border-0 border-white" style="background-color:#f8f9fd;">
                        @*Правильный id обязательно*@

                        @if (villa.VillaImages != null && villa.VillaImages.Count() > 0)
                        {
                            <div id="@id" class="carousel slide" data-bs-ride="carousel">
                                <a data-bs-toggle="modal" data-bs-target="#exampleModal-@(villa.Id)">

                                    <div class="carousel-inner rounded-3">
                                        @foreach (var imageWithIndex in
                                       villa.VillaImages
                                       .Select((image, index) => new { Image = image, Index = index }))
                                        {
                                            <div class="@(imageWithIndex.Index==0?"carousel-item active":"carousel-item")">
                                                <img align="middle" style="width: 100%; height: 100%; margin: 0% auto 0%;" src="@imageWithIndex.Image.ImageUrl" class="d-block" alt="...">
                                            </div>
                                        }
                                    </div>
                                </a>
                                <div class="carousel-indicators">

                                    @foreach (var imageWithIndex in
                                   villa.VillaImages
                                   .Select((image, index) => new { Image = image, Index = index }))
                                    {
                                        <button type="button" data-bs-target="#@id" data-bs-slide-to="@imageWithIndex.Index"
                                                class="@(imageWithIndex.Index == 0 ? "active" : "") " aria-current="true" aria-label="Slide 1"></button>

                                    }

                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#@id" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#@id" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        }
                        else
                        {
                            <img src="https://placehold.co/500x500/png" class="card-img-top rounded" />
                        }
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="card-body p-2">
                                <h5 class="card-title fw-bold">@villa.Name</h5>
                                
                                    <a asp-controller="Amenity" asp-action="Update"
                                       asp-route-villaId="@villa.Id"
                                       class="btn btn-primary">
                                        Edit Amenities
                                    </a>
                                    <a asp-controller="Villa" asp-action="Update"
                                   asp-route-villaId="@villa.Id"
                                       class="btn btn-success">
                                        Edit Villa
                                    </a>
                                
                                
                                <ul class="list-unstyled">
                                    <li class="lh-sm">
                                        Max Occupancy: <strong> @villa.Occupancy adults</strong>
                                    </li>
                                    <li>
                                        Villa Size :  <strong> @villa.Sqft sqft</strong>
                                    </li>
                                    <li><strong>@villa.Price.ToString("c").Trim('₽', ' ') </strong>usd</li>
                                </ul>

                            </div>
                        }
                        else
                        {
                            <div class="card-body p-2">
                                <h5 class="card-title fw-bold">@villa.Name</h5>
                                <ul class="list-unstyled">
                                    <li class="lh-sm">
                                        Max Occupancy: <strong> @villa.Occupancy adults</strong>
                                    </li>
                                    <li>
                                        Villa Size :  <strong> @villa.Sqft sqft</strong>
                                    </li>
                                    <li><strong>@villa.Price.ToString("c").Trim('₽', ' ') </strong>usd</li>
                                </ul>

                            </div>
                        }

                        <div class="col-12">
                            <div class="row pb-3 pt-2">
                                <div class="col-4">
                                    @if (Model.CheckInDate > DateOnly.FromDateTime(DateTime.Now))
                                    {
                                        if (villa.IsAvaliable)
                                        {
                                            <a asp-controller="Booking" asp-action="FinalizeBooking"
                                               asp-route-villaId="@villa.Id" asp-route-checkInDate="@Model.CheckInDate"
                                               asp-route-nights="@Model.Nights"
                                               class="btn btn-success form-control btn-block">
                                                Book
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-outline-danger disabled form-control btn-block">
                                                Sold Out
                                            </a>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal-@(villa.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl mt-7" style="box-shadow:inherit;">
                        <div class="modal-content p-0">
                            <div class="modal-header">
                                <h1 class="modal-title fs-3 ms-3" id="exampleModalLabel">@villa.Name</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-0 m-0">
                                <partial name="_VillaDetails" model="@villa" /> @* в модель передаём Villa т к этот участок находится в контексте foreach *@
                            </div>

                            <div class="modal-footer">
                                <form method="post">
                                    <button asp-controller="Home" asp-action="GeneratePPTExprot" asp-route-id="@villa.Id" type="submit" class="btn btn-outline-primary">
                                        <i class="bi bi-file-earmark-ppt"></i> Download Villa PPT
                                    </button>
                                </form>
                                
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
