@page
@model LoginModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    

   <div class="container mb-5">
        <div class="row text-center">
            <div class="d-flex justify-content-center">
                <div class="card rounded-3 mt-7 shadow border-0" style="width: 25rem">
                    <img class="card-img-top rounded-top" src="~/images/LoginImage/bg-1.jpg" style="" alt="" />
                    <div class="card-body p-5">
                        <div class="d-flex mt-3">
                            <div class="w-100">
                                <h3 class="mb-4 text-start">Sign In</h3>
                            </div>
                            <div class="w-100">
                               @*  <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="text-decoration-none">
                                        <i class="fab fa-facebook fa-2x text-dark mx-2"></i>
                                    </a>
                                    <a href="#" class="text-decoration-none">
                                        <i class="fab fa-google fa-2x text-dark mx-2"></i>
                                    </a>
                                </p> *@
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p class="social-media d-flex justify-content-end">
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                if (provider.DisplayName == "Facebook")
                                                {
                                                    <button type="submit" class="btn btn-sm btn-link" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                        <i class="fab fa-facebook fa-2x text-dark"></i>
                                                    </button>
                                                }
                                                if (provider.DisplayName == "Google")
                                                {
                                                    <button type="submit" class="btn btn-sm btn-link " name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                        <i class="fab fa-google fa-2x text-dark"></i>
                                                    </button>
                                                }
                                            }
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <form id="account" method="post" class="mt-1">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating  mb-3">
                                <input style="-moz-box-ordinal-group" asp-for="Input.Email" class="form-control bg-white" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                            </div>
                            <div class="d-flex mt-2">
                                <div class="checkbox text-start mb-3 mt-2 w-100">
                                    <label asp-for="Input.RememberMe" class="form-label fw-lighter">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                                <div class="w-100 mb-3 mt-2 text-end">            
                                    <a id="forgot-password" style="text-decoration:none;" asp-page="./ForgotPassword">Forgot Password</a>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-center pt-2">
                                <p>
                                    Not a member?<a asp-page="./Register" style="text-decoration:none;" asp-route-returnUrl="@Model.ReturnUrl"> Sign Up</a>
                                </p>
                                @* <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p> *@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
       </div>
            
   </div>

</body>


@* <div class="card container-sm shadow border-0 mt-7">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Log in</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-5">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form id="account" method="post">
                        <h3 class="border-bottom pb-3 mb-4 text-secondary text-center">
                            Use a local account to log in.</h3>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating  mb-3">
                            <input style="-moz-box-ordinal-group" asp-for="Input.Email" class="form-control bg-white" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                        <div class="d-flex justify-content-between pt-2">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-12 p-3 text-center">
                <section>
                    <p class="pb-3" align="center"><b>or</b></p>

                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0) {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            if (provider.DisplayName == "Microsoft")
                                            {
                                                <button type="submit" class="btn btn-success" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <i class="bi bi-microsoft"></i> @provider.DisplayName
                                                </button>
                                            }
                                            if (provider.DisplayName == "Facebook")
                                            {
                                                <button type="submit" class="btn btn-info" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <i class="bi bi-facebook"></i> @provider.DisplayName
                                                </button>
                                            }
                                            if (provider.DisplayName == "Google")
                                            {
                                                <button type="submit" class="btn btn-light" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <i class="bi bi-google"></i> @provider.DisplayName
                                                </button>
                                            }
                                            else
                                            {


                                            }
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</div> *@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
