@page
@using VillaProject.Application.Common.Utility
@model RegisterModel


<div class="card shadow container-sm border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                @if (User.IsInRole(SD.Role_Admin))
                {
                    <h2 class="py-2 text-white">Register - ADMIN PORTAL</h2>
                }
                else
                {
                    <h2 class="py-2 text-white">Register</h2>
                }
            </div>
        </div>
    </div>
    <div class="card-body p-5">
        <div class="row pt-3">
            <div class="col-md-12">
                <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <h3 class="border-bottom pb-3 mb-4 text-secondary text-center">Create a new account.</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="ms-2 text-muted">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="ms-2 text-muted">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword" class="ms-2 text-muted">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="name@example.com" />
                        <label asp-for="Input.PhoneNumber" class="ms-2 text-muted">Phone Number</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                  
                    <div class="col-12">
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </div>
                </form>
            </div>
            @if (!User.IsInRole(SD.Role_Admin))
            {
                <div class="col-md-12 p-3 text-center">
                    <section>
                        <p class="pb-3" align="center"><b>or</b></p>

                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                if (provider.DisplayName == "Microsoft")
                                                {
                                                    <button type="submit" class="btn btn-success" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                        <i class="bi bi-microsoft"></i> @provider.DisplayName
                                                    </button>
                                                }
                                                if (provider.DisplayName == "Facebook")
                                                {
                                                    <button type="submit" class="btn btn-info" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                        <i class="bi bi-facebook"></i> @provider.DisplayName
                                                    </button>
                                                }
                                                if (provider.DisplayName == "Google")
                                                {
                                                    <button type="submit" class="btn btn-light" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                        <i class="bi bi-google"></i> @provider.DisplayName
                                                    </button>
                                                }
                                                else
                                                {


                                                }
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
            }
        </div>
    </div>
</div>



